{% assign resume = site.data.data.resume %}
{% if resume %}
  {% if site.data.data.sidebar.resume %}
  <div class="resume-container container-block">

    <h2 class="container-block-title">
      Resume
    </h2>

    <div class="item">
      <a id="rlink" href="resume.link" target="_blank">resume.linktext</a>
    </div><!--//item-->

  </div><!--//resume-container-->
  {% else %}
  <section class="section resume-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      Resume
    </h2>
    <div class="meta">

      <div class="upper-row">
        <a id="rlink" href="resume.link" target="_blank">resume.linktext</a>
      </div><!--//upper-row-->

    </div><!--//meta-->

  </section><!--//section-->
  {% endif %}
{% endif %}
